# stock_ai_project/.gitignore
# 環境變數
.env

# Python 快取與依賴
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
*.egg-info/
dist/
build/

# Docker 相關
*.log
docker-compose.override.yml

# 數據檔案
data/processed/*
!data/raw/name_df.csv

# IDE 設定
.idea/
.vscode/

# 其他
*.DS_Store
neo4j_conf

logstash.db
stock_env/
*.so
*.so.2

# Python 虛擬環境
stock_env/
venv/
env/

# Python 快取
__pycache__/
*.py[cod]
*$py.class

# 其他常見的忽略項目
.env
.DS_Store